flows.json
[
    {
        "id": "5b445230f069f147",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fcd6f263ba8daa56",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f59fa093c9e276cf",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c95cbd066d72579",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c28a6e598278809",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "627c9c520ff3a527",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34efb297903d9dda",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c14a3dce6d80177",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83870e38a9be7458",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a80c86ac924f8de1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "0c14a3dce6d80177",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24a0779448a4ed91",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "0",
        "bin": "bin",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4db4d443c518838c",
        "type": "inject",
        "z": "5b445230f069f147",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "testing mail",
        "payload": "测试",
        "payloadType": "str",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "56eb8e2bc24a97c3",
                "9a20518f6e293cb7"
            ]
        ]
    },
    {
        "id": "9a20518f6e293cb7",
        "type": "debug",
        "z": "5b445230f069f147",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "790e18104b43d215",
        "type": "http in",
        "z": "fcd6f263ba8daa56",
        "name": "",
        "url": "/web",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "d47350fcc6b0ff68"
            ]
        ]
    },
    {
        "id": "09cbc55ccedac14e",
        "type": "http response",
        "z": "fcd6f263ba8daa56",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "d47350fcc6b0ff68",
        "type": "template",
        "z": "fcd6f263ba8daa56",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<htlm>\n    <head>\n        <title>Node-Red Web sample</title>\n    </head>\n    <body>\n        <h1>Hello Node-Red</h1>\n        <h2>Menu 1</h2>\n        <p>It is Node-Red sample webpage</p>\n        <hr>\n        <h2>Menu 2</h2>\n        <p>It is Node-Red sample webpage.</p>\n    </body>\n</htlm>",
        "output": "str",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "09cbc55ccedac14e"
            ]
        ]
    },
    {
        "id": "56eb8e2bc24a97c3",
        "type": "e-mail",
        "z": "5b445230f069f147",
        "server": "smtp.126.com",
        "port": "25",
        "secure": false,
        "tls": false,
        "name": "yshhu0509@outlook.com",
        "dname": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "b13cdf9cd6aa7dd8",
        "type": "ui_text_input",
        "z": "f59fa093c9e276cf",
        "name": "",
        "label": "MQTT message",
        "tooltip": "",
        "group": "a80c86ac924f8de1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "6076d8c52d5cbb66",
                "17718c5d136417c4"
            ]
        ]
    },
    {
        "id": "6076d8c52d5cbb66",
        "type": "mqtt out",
        "z": "f59fa093c9e276cf",
        "name": "",
        "topic": "mytestmmm",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "34efb297903d9dda",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "17718c5d136417c4",
        "type": "debug",
        "z": "f59fa093c9e276cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac0bd551a99c7ce9",
        "type": "mqtt in",
        "z": "f59fa093c9e276cf",
        "name": "",
        "topic": "replymmm",
        "qos": "2",
        "datatype": "auto",
        "broker": "34efb297903d9dda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "01b58c20227dc26a"
            ]
        ]
    },
    {
        "id": "01b58c20227dc26a",
        "type": "ui_text",
        "z": "f59fa093c9e276cf",
        "group": "a80c86ac924f8de1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "1fd32a59c03d48ba",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "COM4",
        "serial": "24a0779448a4ed91",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "63bc9128559778cc",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3]",
        "payloadType": "bin",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "1fd32a59c03d48ba"
            ]
        ]
    },
    {
        "id": "f0155a08a19eeba5",
        "type": "serial in",
        "z": "9c95cbd066d72579",
        "name": "n2",
        "serial": "24a0779448a4ed91",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "5d468731101c1210"
            ]
        ]
    },
    {
        "id": "5d468731101c1210",
        "type": "debug",
        "z": "9c95cbd066d72579",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "eab92b2e54dfe854",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "586a6387ef1cda01"
            ]
        ]
    },
    {
        "id": "586a6387ef1cda01",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "hex",
        "func": "msg.payload = Buffer.from(\"01020a0b\",\"hex\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "18960e084db680e6"
            ]
        ]
    },
    {
        "id": "18960e084db680e6",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "1d013f1dd4994668",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "4436dc6e29c91df2"
            ]
        ]
    },
    {
        "id": "4436dc6e29c91df2",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "hex",
        "func": "msg.payload = Buffer.from([0x01,0x02,0x03])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 356,
        "y": 312,
        "wires": [
            [
                "e63c53375512737a"
            ]
        ]
    },
    {
        "id": "e63c53375512737a",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 556,
        "y": 312,
        "wires": []
    },
    {
        "id": "b79c7ea967398ba0",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "545f8e3e03abc8f5"
            ]
        ]
    },
    {
        "id": "545f8e3e03abc8f5",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "slice",
        "func": "var buffer = new Buffer([0x01,0x02,0x03,0x0e,0x0f])\nmsg.payload = buffer.slice(2,4)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "3265ecd71d1faaab"
            ]
        ]
    },
    {
        "id": "3265ecd71d1faaab",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "62eaac77cbad1bc6",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "1c7e7e30de8c27d1"
            ]
        ]
    },
    {
        "id": "1c7e7e30de8c27d1",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "copy",
        "func": "var buf1 = new Buffer([0x01,0x02,0x03,0x04,0x05])\nvar buf2 = new Buffer([0x0a,0x0b,0x0c,0x0d,0x0e])\nbuf1.copy(buf2,3,1,4)\nmsg.payload = buf2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "ef6b896572987bcd"
            ]
        ]
    },
    {
        "id": "ef6b896572987bcd",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "0c912e5cb9e1e242",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "8b9766fbedec8bc0"
            ]
        ]
    },
    {
        "id": "8b9766fbedec8bc0",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "concat",
        "func": "var buf1 = new Buffer([0x01,0x02,0x03,0x04,0x05])\nvar buf2 = new Buffer([0x0a,0x0b,0x0c,0x0d,0x0e])\nmsg.payload = Buffer.concat([buf1,buf2])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "bc291f7174bb0333"
            ]
        ]
    },
    {
        "id": "bc291f7174bb0333",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "2598841561c7346e",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dfs",
        "payloadType": "str",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "01d02b31ac7d75ad"
            ]
        ]
    },
    {
        "id": "01d02b31ac7d75ad",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "combine",
        "func": "var buf1 = new Buffer([0x01,0x02,0x03,0x04,0x05]);\nvar txt = msg.payload;\nvar buf2 = Buffer.from(txt);\nmsg.payload = buf2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [
            [
                "7fabbc987b732d4a"
            ]
        ]
    },
    {
        "id": "7fabbc987b732d4a",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "930b560a08379a48",
        "type": "inject",
        "z": "9c95cbd066d72579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "95f0e3c6f83b2aba"
            ]
        ]
    },
    {
        "id": "95f0e3c6f83b2aba",
        "type": "function",
        "z": "9c95cbd066d72579",
        "name": "copy",
        "func": "var buf1 = new Buffer([0x01,0x02,0x03,0x04,0x05])\nmsg.payload = buf1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "e70ef546e7d72515"
            ]
        ]
    },
    {
        "id": "e70ef546e7d72515",
        "type": "serial out",
        "z": "9c95cbd066d72579",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "24a8b06b2790b13e",
        "type": "inject",
        "z": "1c28a6e598278809",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test1",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "2e1e45f259bf2df8"
            ]
        ]
    },
    {
        "id": "d222b56470522544",
        "type": "serial out",
        "z": "1c28a6e598278809",
        "name": "",
        "serial": "24a0779448a4ed91",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e1e45f259bf2df8",
        "type": "function",
        "z": "1c28a6e598278809",
        "name": "",
        "func": "var buf1=Buffer.from(msg.payload);\nmsg.payload = buf1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "d222b56470522544"
            ]
        ]
    },
    {
        "id": "1b2e27f84d13a528",
        "type": "serial in",
        "z": "1c28a6e598278809",
        "name": "receive",
        "serial": "24a0779448a4ed91",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "32548b2a8076b891"
            ]
        ]
    },
    {
        "id": "32548b2a8076b891",
        "type": "debug",
        "z": "1c28a6e598278809",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "c116e93031f4b2e7",
        "type": "http request",
        "z": "627c9c520ff3a527",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=bb40bd2279ca5ee4f684af895902abab ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "8c4756cc0ac28581",
                "8e20ccaf3076369b"
            ]
        ]
    },
    {
        "id": "aabc43db36bf5e73",
        "type": "inject",
        "z": "627c9c520ff3a527",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Beijing",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c116e93031f4b2e7"
            ]
        ]
    },
    {
        "id": "8c4756cc0ac28581",
        "type": "debug",
        "z": "627c9c520ff3a527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "0476fe72ba871435",
        "type": "debug",
        "z": "627c9c520ff3a527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e20ccaf3076369b",
        "type": "json",
        "z": "627c9c520ff3a527",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "0476fe72ba871435"
            ]
        ]
    }
]